<h3 class="text-center py-3">Hospital Management System</h3>
<h4 class="text-center py-2">Comprehensive assessment (Jeethendra S R)</h4>
<div class="py-2">
    <p>
        In a Hospital there are many doctors are appointed. Doctors can be categorized based on their specialist. Each
        doctor has id , name , age , gender and specialist fields. Patients can be allowed to visit doctor for
        consultation.
        Each patient has properties like id, name , visitedDoctor, dateOfVisit. Develop the below functionalities based
        on
        the above scenarios.
    </p>
    <p>
        1. Create doctor information.
    </p>
    <p>
        2. Crate patient information . In patient creation page there should be one dropdown box where user needs to
        select
        a doctor name from the dropdown box.
    </p>

    <p>
        3. Crate a tab for ShowDoctorInformation. Once user clicks on the showDoctorInformation page a new page will
        display
        where there is one dropdown box named as selectDoctor. Once User clicks on and select a doctor name from the
        dropdown box , it will display the doctor’s information as table in the same page. It show doctorname,
        specializationfiled and numberOfpatientAttneded.
    </p>

    <p>
        4. In show patient information tab once the user enter patient ID in a text box it will display the patient data
        like patient name, age, visitedDoctorName, dataOfVist and also the doctor’s prescription. If there is no patient
        ID
        in the database then it will display an error page “ No such patient there in the database.
        Based on the above scenario create an java application where the UI design and page navigation should be
        developed
        by Angular . Through Springboot RESTAPI backend database (MySQL) should be interacted. Angular to Springboot
        REST
        api should be interacted.
    </p>
    <p>
        After development of the application make maven build and produce a jar file in target folder. Commit and push
        the
        code into GIT hub repository. Make Jenkins integration with GitHub repository. So that there should be
        continuous
        deployment should be achieved.
    </p>

    <p>
        Use proper Bootstrap and CSS for page designing. Use Angular’ s page routing for navigating to various tabs.
    </p>

    <p>
        Develop Junit testing for all RESTAPI controller layer.
        Write unit testing by using jasmine karma tool for angular code.
    </p>
</div>